Repository cerimorse/cerimorse.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add homepage
  public/file.svg
  public/globe.svg
  public/next.svg
  public/profile-picture.png
  public/vercel.svg
  public/window.svg
  src/app/coding/page.tsx
  src/app/page.tsx
  src/components/layout/app-bar.tsx
  src/components/layout/footer.tsx
  src/components/timeline/timeline-moments.tsx
Due: eslint --fix, prettier --write

chore: testing hook
  README.md
Due: none

feat: update theme
  src/styles/globals.css
Due: none

fix: dark theme muted foreground fix for accessibility
  src/styles/globals.css
Due: none

fix: update homepage text
  src/app/page.tsx
Due: eslint --fix, prettier --write

feat: add extra moments
  src/content/timeline.ts
Due: eslint --fix, prettier --write

feat: add metadata to all pages
  src/app/coding/page.tsx
  src/app/sitemap.ts
  src/app/timeline/page.tsx
Due: eslint --fix, prettier --write

feat: update meta description
  src/app/layout.tsx
  src/app/sitemap.ts
Due: eslint --fix, prettier --write

chore: remove twitter site and creator
  src/app/layout.tsx
Due: eslint --fix, prettier --write

chore: update readme
  README.md
Due: none

chore: update version of next
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add github templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/pull_request_template.md
Due: none

feat: add vercel speed insights
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: eslint --fix, prettier --write

feat: add analytics
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
